html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
  
.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
}
  
.lastContainer {
    display: flex;
    height: 100vh;
}
  
.panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: -16px !important;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
    /* border: 1px solid white; */
}

.projectBox {
    /* border: 2px solid green; */
    width: 65%;
}

.projectContainer {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    border-radius: 50px !important;
    /* border: 2px solid white; */
    position: relative;
}

.projectBoxLeft {
    height: 75%;
    width: 75%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.monarchPic {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    z-index: 0;
}

.projectDivider {
    width: 35%;
}