html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
  
.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
}
  
.lastContainer {
    display: flex;
    height: 100vh;
}
  
.panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: -16px !important;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
    /* border: 1px solid white; */
}

.projectBox {
    /* border: 2px solid green; */
    width: 65%;
}

.projectContainer {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    border-radius: 50px !important;
    /* border: 2px solid white; */
    position: relative;
}

.projectBoxLeft {
    background-color: grey;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
}

.projectBoxRight {
    background-color: grey;
    height: 80%;
    width: 80%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
}

.projectImgLeft {
    height: 90%;
    width: 90%;
    z-index: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
}

.projectImgRight {
    height: 90%;
    width: 90%;
    z-index: 0;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
}

.projectDivider {
    width: 35%;
}

h3, h5 {
    color: white;
    /* color: #00ff19; */
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.projectBtn {
    width: 150px;
    height: 50px;
}

.imgHover:hover {
    z-index: 10;
    opacity: 0.9;
}