body {
    overflow-x: hidden;
}

#profileImg {
    position: relative;
    height: 82vh;
    margin-bottom: 25px;
}

/* #profileIntro {
    border: solid 1px white;
} */

.techImgBox {
    width: 150px;
    height: 150px;
}

.techImg:hover {
    background: radial-gradient(circle at center, rgba(160,32,240, 0.2), rgba(160, 32, 240) 100%);
    border: 0px transparent;
    border-radius: transparent;
    box-shadow: 0 0 15px 10px rgba(160, 32, 240);
}

img {
    display:block;
    width: 80%;
    max-width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.cssPic {
    height: 120px;
    padding: 10px 25px;
}

.pythonPic {
    height: 120px;
}

.mysqlPic {
    padding: 30px 10px;
}





.test {
    border: solid 1px white;
}

.moreStuff {
    height: 1000px;
}