#profileImg {
    position: relative;
    height: 82vh;
    margin-bottom: 25px;
}

/* #profileIntro {
    border: solid 1px white;
} */

.techImg {
    width: 150px;
    height: 150px;
}

img {
    display:block;
    width: 80%;
    max-width: 100%;
    border-radius: 30px;
    padding: 10px;
}

.cssPic {
    height: 120px;
    border-radius: 0px;
    width: 60%;
}

.pythonPic {
    height: 120px;
    border-radius: 0px;
}

.mysqlPic {
    border-radius: 0px;
    padding: 20px 0;
}

/* .bsPic {
    border-radius: 0px;
    padding: 5px 0;
} */





.test {
    border: solid 1px white;
}