#profileImg {
    position: relative;
    height: 82vh;
    margin-bottom: 25px;
}

#profileIntro {
    border: solid 1px white;
}

.test1 {
    border: solid 1px white;
}

.techImg {
    border: solid 1px white;
    width: 150px;
    height: 150px;
}

img {
    display:block;
    width: 80%;
    max-width: 100%;
    border-radius: 30px;
    padding: 10px;
}